$fundo1: #0e1010;
$fundo2: #131313;
$fundo-habilidades: #394141;
$fundo-habilidades-hover: #a19c9c;
$fundo-card-projetos: #fffd84;

$texto1: #fbff30;
$texto2: #d0d0d0;
$texto-projeto: #252525;
$titulo-card-projeto:#484848;

$hover: #907800;
$hover2: #353535;

$github: #fff;
$linkedin: #0e76a8;
$whatsapp: #00ae00;